################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EwsTennis/EwsTennis/obj
/EwsTennis/.vs/EwsTennis/v16
/EwsTennis/EwsTennis.Tests/obj
